body {
  display: grid;
  background-image: url(../imgs/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: clamp(60em, 20vw, 200em);
  grid-area: auto;
  align-items: center;
}
.container {
  width: 1560px;
}
h2 {color: #fff;text-align: center;
background-color: rgb(72, 10, 106);border: 2px solid wheat;
padding:30px 40px !important;
width: max-content;align-self: center;
justify-self: center;margin-left: 240px;
}
span{font-size: 1.6em;}
/* s zoza button*/
.z-button {
  margin: 22% auto;
  margin-left: 36%;
  margin-bottom: 2%;
  align-content: center;
  position: relative;
  font-size: clamp(9px, 1.6vw, 450px);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7em 1.75em;
  display: inline-block;
  border-radius: 2em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.z-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.z-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.z-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.z-button::after {
  background-color: #fff;
}

.z-button:hover::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
}
/* s zoza button*/
